link(rel='stylesheet', href='stylesheets/footer.css')

footer
    div(class="div-logo")
        img(class="logo-footer" src="images/logoooo.png" alt="logo")
    div
        span(style="white-space: nowrap;" class="fuckingBootstrap") &emsp; &emsp; 
        a(href="#" class="cgu") CGU
        span(style="white-space: nowrap;")  | 
        a(href="#" class="mention") Mentions Légales
    div
        span(style="white-space: nowrap;" class="fuckingBootstrap") &copy;
    div