
section(class="pub")
    div 
        h2 Ils nous font confiance
    
    div(class="container-all-pub")

        div(class="pub-box pub-box-left pub-box-left1")
            div(class="img-div img-div-left")
                img(class="img-pub img-left" src="images/img_snack.webp" alt="img snack")
            h3(class="full-screen full-left") Snack 
            div(class="pub-lorem") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
        div(class="triangle triangle-left triangle-left1")
            h3(class="min-screen min-left") Snack 
        
        div(class="triangle triangle-right triangle-right1")
            h3(class="min-screen min-right") Snack 

        div(class="pub-box pub-box-right pub-box-right1")
            div(class="img-div img-div-right")
                img(class="img-pub img-right" src="images/img_snack.webp" alt="img snack")
            h3(class="full-screen full-right") Snack 
            div(class="pub-lorem") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            //- /////////////////////////////////////////////////////////////////////

        div(class="pub-box pub-box-left pub-box-left2")
            div(class="img-div img-div-left")
                img(class="img-pub img-left" src="images/img_snack.webp" alt="img snack")
            h3(class="full-screen full-left") Snack 
            div(class="pub-lorem") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
        div(class="triangle triangle-left triangle-left2")
            h3(class="min-screen min-left") Snack 
        
        div(class="triangle triangle-right triangle-right2")
            h3(class="min-screen min-right") Snack 

        div(class="pub-box pub-box-right pub-box-right2")
            div(class="img-div img-div-right")
                img(class="img-pub img-right" src="images/img_snack.webp" alt="img snack")
            h3(class="full-screen full-right") Snack 
            div(class="pub-lorem") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


//- section(class="text-pictures") 
  
    div(class="entreprises" id="entreprises")

        h2(id="titre_confiance" class="titre titre_confiance") Ils nous font confiance
            
        div(class="container_all_entreprises")

            //- if contain.pictureBlocks
            //-     each contain.pictureBlock in contain.pictureBlocks
            //-         div(class="container_entreprise entreprise0")
            //-             div(class="img_entreprise")
            //-                 img(src=#{contain.pictureBlock.imgSrc} alt=#{contain.pictureBlock.imgAlt})
            //-             h3 #{contain.pictureBlock.title}
            //-             p #{contain.pictureBlock.text}


            div(class="container_entreprise entreprise1")
                div(class="img_entreprise")
                    img(src="images/grand_sud.jpg" alt="img grand sud")
                h3 Au Grand Sud
                p Au grand sud est un complexe de plusieurs location de vacances. Cela fait plus d'une année qu'ils nous font confiance pour assurer les propreter des locztions, mais aussi le nettoyage de vitres ainsi que l'entretiens des linges de maison.
                //a(href="https://www.augrandsud.com/" class="btn_entreprises") Découvrez le projet

            div(class="container_entreprise entreprise2")
                div(class="img_entreprise")
                    img(src="images/patrick.png" alt="img grand sud")
                h3 Provence Pizza
                p Voici maintenant, une dizaine d'années que nous travaillons au coté de Provence Pizza pour assurer l'hygiène et le nettoyage de cette pizzeria de quartier. Nous y appliquons, bien entendu, les normes d'hygiènes et de securitées alimentaire.
                //a(href="http://provencepizzas.fr/" class="btn_entreprises") Découvrez le projet    
                    
            div(class="container_entreprise entreprise3")
                div(class="img_entreprise")
                    img(src="images/img_snack.webp" alt="img snack")
                h3 pjuogv
                p yfgjhkj
                a(href="#" class="btn_entreprises") Découvrez le projet

            div(class="container_entreprise entreprise4")
                div(class="img_entreprise")
                    img(src="images/img_residence.jpg" alt="img residence")
                h3 Residence 
                p yfgjhkj
                a(href="#" class="btn_entreprises") Découvrez le projet           
                    
            div(class="container_entreprise entreprise5")
                div(class="img_entreprise")
                    img(src="images/img_snack.webp" alt="img snack")
                h3 Snack 
                p yfgjhkj
                a(href="#" class="btn_entreprises") Découvrez le projet

            div(class="container_entreprise entreprise6")
                div(class="img_entreprise")
                    img(src="images/img_snack.webp" alt="img snack")
                h3 Snack 
                p yfgjhkj
                a(href="#" class="btn_entreprises") Découvrez le projet
                
